.succeed{
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(90, 50%, 40%, 1);
    padding: 20px;
}

.error{
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(0, 49%, 40%, 1);
    padding: 20px;
}

.processing{
    color: hsla(0, 0%, 0%, 0.9);
    padding: 20px;
}
